<div id="<%= dom_id player %>">
  <p>
    <strong>First name:</strong>
    <%= player.First_name %>
  </p>

  <p>
    <strong>String:</strong>
    <%= player.string %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= player.last_name %>
  </p>

  <p>
    <strong>String:</strong>
    <%= player.string %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= player.phone %>
  </p>

  <p>
    <strong>String:</strong>
    <%= player.string %>
  </p>

  <p>
    <strong>Facebook:</strong>
    <%= player.facebook %>
  </p>

  <p>
    <strong>String:</strong>
    <%= player.string %>
  </p>

</div>
